body {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_1280.jpg");
    background-size: cover;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: whitesmoke;
}
