body {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_1280.jpg");
    background-size: cover;
}

#profile-pic {
    background-image: url("../images/profile-pic.jpg");
    background-position: center;
    background-size: cover;
    border: 5px solid white;
}

#countriesUl {
    list-style-type: none;
    font-size: 18px;
}

#countriesUl li {
    display: inline-block;
}

#countriesUl li::after {
    content: "\00b7";
}

#countriesUl li:last-child::after {
    content: none;
}

#countriesUl li a {
    color: black;
    padding: 0px 10px;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: whitesmoke;
}

.portfolio-pic {
    width: auto;
    height: 240px;
}
